@font-face {
    font-family: 'PT-Mono-Bold';
    src:url('../fonts/PT-Mono-Bold.ttf.woff') format('woff'),
    url('../fonts/PT-Mono-Bold.ttf.svg#PT-Mono-Bold') format('svg'),
    url('../fonts/PT-Mono-Bold.ttf.eot'),
    url('../fonts/PT-Mono-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}